html {
    background: url(../img/Snowflake_044f_06.jpg);
    background-color: white;
    display: flex;
}

body {
    background-color: white;
    max-width: 900px;
    margin: auto;
    padding: 1%;
    border-radius: 5%;
}

h1 {
    margin-left: 5vw;
}

table {
    border: 0;
    position: relative;
}

tr {
    border-bottom: solid black 1px;
}

tr:even {
    background-color: lightgray;
}

tr:odd {
    background-color: gray;
}